<header class="header">
  <div class="container clearfix">                       
      <img class="profile-image img-fluid float-left" src="assets/images/profile.png" alt="Filip Krasniqi" />
      <div class="profile-content float-left">
          <h1 class="name">Filip Krasniqi</h1>
          <h2 class="desc">MsC in CS Engineering - Major: Artificial Intelligence<br>Bachelor in Computer Science and Engineering</h2>   
          <ul class="social list-inline">               
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/filip-krasniqi-7095b290/"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="list-inline-item"><a href="https://github.com/filipkrasniqi/"><i class="fab fa-github-alt"></i></a></li>            
          </ul> 
      </div><!--//profile-->
      <a class="btn btn-cta-primary float-right" href="mailto:filip.krasniqi1@gmail.com" target="_blank"><i class="fas fa-paper-plane"></i> Contact Me</a>              
  </div><!--//container-->
</header><!--//header-->

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container text-center">
          <!--/* This template is free as long as you keep the attribution link below. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
          <small class="copyright">Designed by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
  </div><!--//container-->
</footer><!--//footer-->