<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-lg-8 col-12">
            <section class="about section">
                <div class="section-inner">
                    <h2 class="heading">About Me</h2>
                    <div class="content">
                        <p>My name is Filip Krasniqi, I currently live in Italy. I am a Computer Science engineer since 2020, when I took my MSc at Politecnico di Milano (110/110). 
                            I currently have a MSc in Computer Science engineering, with a focus on Artificial Intelligence; I consider the brilliancy behind the automatization of 
                            Math and Statistics through coding highly intriguing.
                            I am a curious and very active person. I love doing sports, reading, and I highly value friendships, especially those with people I feel highly 
                            comfortable with. I am a perfectionist; being a Software Engineer, I feel the need to standardize and automatize whenever I can. Also, I am a very 
                            flexible person. I tend to accommodate people, regardless of whether they belong to my professional or personal sphere. Specifically in the professional 
                            environment, I can be straightforward - I feel that keeping problems with people for myself simply leads to major problems in the future.
                            I am currently working as a Data Scientist for an Irish company, ValitaCell - recently acquired by Beckman Coulter LS - with the goal of providing, 
                            through Deep Learning state-of-the-art models, solutions in the Biomedical field, with high focus on Stem Cells.
                        </p>
                     
                    </div><!--//content-->
                </div><!--//section-inner-->                 
            </section><!--//section-->
            
            <section class="projects section">
                <div class="section-inner">
                    <h2 class="heading">Main projects and contributions</h2>

                    <div class="content">
                        <div class="item">
                            <h3 class="title"><a href="#" onclick="return false;" target="_blank">Deep Learning based solution for nuclei segmentation</a> </h3>
                            <p class="summary"> Design & implementation of an ML architecture that allows to segment nuclei from pictures of unstained MSC cells.</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><a href="#" onclick="return false;" target="_blank">Contribution to CellAI toolbox</a> </h3>
                            <p class="summary"> Design, implementation and review of the CellAI toolbox - a framework used by the CellAI team in ValitaCell, that allows to easily build ML pipelines for training and evaluation.</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><a href="#" onclick="return false;" target="_blank">Design and implementation of ChemStress toolbox</a> </h3>
                            <p class="summary"> Design and implementation of the ChemStress toolbox - a framework used by in ValitaCell to easily build statistics-based pipelines for data analysis on 96-well plates including cell-related measurements.</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><a href="#" onclick="return false;" target="_blank">High Capacity and Resilient Large-Scale Deterministic IP Networks</a> </h3>
                            <div class="summary"> 
                                1 year research project at Huawei, Technologies (Paris) when working as an External Consultant - Software Engineer.
                                We designed a novel network architecture to tackle the issue of deterministic networking without the use of Time Synchronized Networks (TSN);
                                instead, we focused on the Deterministic IP network, proposing a novel approach that supports resiliency in large-scale deterministc networks.
                                My contribution has been manyfold:
                                <ol>
                                    <li> 
                                        Interaction with an ILP-based optimizer that takes in input traffic and network, and outputs 
                                        the suboptimal solution for the Deterministic IP framework;
                                    </li>
                                    <li>
                                        Design and implementation of the architecture inside the Omnet++ simulator;
                                    </li>
                                    <li>
                                        Design and implementation of a framework that launches the optimizer, initializes the network and validates the simulation through exhausting simulations, 
                                        with statistics that allow to motivate the implementation of the architecture;
                                    </li>
                                    <li>
                                        Contribution in writing the journal.
                                    </li>
                                </ol>
                                More details can be found here: <a href="https://link.springer.com/article/10.1007/s10922-022-09683-3">https://link.springer.com/article/10.1007/s10922-022-09683-3</a>.
                            </div>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><a href="#" onclick="return false;" target="_blank">Smart Campus: Parking & Directions</a> </h3>
                            <p class="summary"> 
                                Design and implementation of a smart direction system with IoT technologies at PoliMI; design of a smart parking system. 
                                We successfully implemented a PoC that provides guidance to users inside the university; the user defines, through a smartphone, the final destination;
                                from that moment on, he is tracked through beacon technology while a numerous amount of led matrices, spreaded all over the environment, show the next direction
                                to the user. We considered different scenarios: multiple users, disconnection, need for system update etc. in order to simplify the initialization and setup of every single component.
                                I designed the system with some colleagues in Politecnico di Milano, and I personally implemented the whole system. I exploited technologies such as 
                                Machine Learning, MQTT, Raspberry PIs; I collaborated with a group of designers and architects to properly integrate the system inside the university.
                            </p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><a href="#" onclick="return false;" target="_blank">ML application: learning QoS metric functions</a> </h3>
                            <p class="summary">Paper published at IEEE INFOCOM WKSHPS - NI: The 3rd International Workshop on Network Intelligence. Toronto, July 2020. More information <a href="https://filipkrasniqi.github.io/QoSMLpresentation/home">here</a></p>
                        </div><!--//item-->
                        
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </section><!--//section-->
            
            <section class="experience section">
                <div class="section-inner">
                    <h2 class="heading">Work Experience</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title">Data Scientist & Data Engineer - <span class="place"><a href="#" onclick="return false;">ValitaCell, Beckman Coulter LS - Dublin and Milan</a></span> <span class="year">(04/2022 - now)</span></h3>
                            <p>Application of Machine Learning techniques in the biomedic field.<br> 
                                <span class="bold"> Used tools:</span> Python, tensorflow, keras, pandas, scikit-learn.</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title">External consultant - <span class="place"><a href="#" onclick="return false;">Huawei Technologies</a></span> <span class="year">(04/2021 - 03/2022)</span></h3>
                            <p>Research on advanced topics related to computer networks.<br> 
                                <span class="bold"> Used tools:</span> OMNeT++, C++, Python.</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title">Research Assistant - <span class="place"><a href="#" onclick="return false;">Politecnico di Milano</a></span> <span class="year">(10/2020 - 10/2021)</span></h3>
                            <p>WP on Smart City field: main focus on Smart Directions, Smart Parking and Smart Bubble.<br> 
                                <span class="bold"> Used tools:</span> Python, C++.</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title">Intern - <span class="place"><a href="#" onclick="return false;">Huawei Technologies, Paris, France</a></span> <span class="year">(04/2019 - 10/2019)</span></h3>
                            <p>Internship job during which I worked on my MSc thesis.<br> 
                                <span class="bold"> Used tools:</span> Python (mainly for ML: PyTorch, Keras, Pandas, ...), NS3, C++.</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title">Software Engineer - <span class="place"><a href="#" onclick="return false;">Codher</a></span> <span class="year">(03/2018 - 08/2018)</span></h3>
                            <p>Part-time job during the last semester of MSc I took in Italy. At the time I started working, the company was a startup on 4.0 industry.<br> 
                                <span class="bold"> Used tools:</span> C#, Angular, HTML, JavaScript, MySQL, SQL server.</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title">Software Developer - <span class="place"><a href="#" onclick="return false;">Complic</a></span> <span class="year">(01/2016 - 02/2018)</span></h3>
                            <p>Part-time job during part of my Bachelor and MSc.<br>
                                <span class="bold"> Used tools:</span> Android (Java and Android Studio), PHP, HTML, JavaScript/JQuery, MongoDB.</p>
                        </div><!--//item-->
                        
                        <div class="item">
                            <h3 class="title">Software Developer - <span class="place"><a href="#" onclick="return false;">Emmequadro</a></span> <span class="year">(01/2015 - 12/2015)</span></h3>
                            <p>Part-time job during the first year of my bachelor. Main contribution is surely Park&Light, an easy-to-use software to automatize both lighting of street lamps and to capture when cars were parked.<br>
                                <span class="bold"> Used tools:</span> Android (Java and Android 
                                Studio), Java, PHP, MySQL, HTML, JavaScript/JQuery.</p>
                        </div><!--//item-->
                        
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </section><!--//section-->

            <section class="experience section">
                <div class="section-inner">
                    <h2 class="heading">Freelance projects</h2>

                    <div class="item">
                        <h3 class="title"><a target="_blank" href="https://www.asnaghi.it">Asnaghi</a></h3>
                        <p class="summary">Website (<a target="_blank" href="https://www.asnaghi.it">asnaghi.it</a>) showing products made by Asnaghi, developed as a free-lancer. I managed not only to build frontend and backend, but also to import contents from the legacy.
                            <br><span class="bold">Main contributions:</span> backend implementation (NodeJS), website (HTML5, CSS, Angular).</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="title">Booksgram</h3>
                        <p class="summary">Software developed together with two colleagues as a free-lancer. We developed a platform that allowed to integrate from outer database unpublished books (according to the publisher needs) and managed a competition. Users were able to signup (also from the website) and vote the unpublished they preferred from the mobile application (iOS and Android). We are currently improving this software.
                            <br><span class="bold">Main contributions:</span> backend implementation (NodeJS), website (HTML5, CSS, Angular), mobile application (Flutter).</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="title">RockStreetRadio</h3>
                        <p class="summary">Software developed together with a former colleague of mine as a free-lancer. We developed a website and an Android application providing a web radio service. Tracks are played according to pre-defined constraints on artists, genre etc. An administrator has the chance to add/remove the tracks, and to connect on the web radio to talk live.
                            <br><span class="bold">Main contributions:</span> backend implementation (NodeJS), website (HTML5, CSS, Angular).</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="title">BankSec</h3>
                        <p class="summary">Contributor as a free-lancer when working with Micromac. We developed an application that allows a person to access a bank for withdrawal (fingerprint reading, camera and speaker with pre-recorded audio). 
                            <br><span class="bold">Main contributions:</span> controller (Java, C), Windows and Linux implementation (Java).</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="title">Park&Light</h3>
                        <p class="summary">Contributor as a free-lancer when working with Emmequadro. This is part of the "Smart City" project. This application was able to control different centrals. A central could be a "Park" or a "Light". A "Park" central was able to capture whether some park slots were occupied and communicated this to the server. A "Light" central was able to control street lamps so that they could turn on/off (with a certain level of granularity on the settings).

                            <br><span class="bold">Main contributions:</span> backend (PHP), frontend (HTML5, CSS, JavaScript/JQuery).</p>
                    </div><!--//item-->
                </div>
            </section>
            <!--section class="github section">
                <div class="section-inner">
                    <h2 class="heading">My GitHub</h2>
                    <p>You can embed your GitHub contribution graph calendar using IonicaBizau's <a href="https://github.com/IonicaBizau/github-calendar" target="_blank">GitHub Calendar</a> widget. 
                    
                    <div id="github-graph" class="github-graph">
  
                    </div><!--//github-graph-->
  
                    <!--p>You can also embed your GitHub activities using Casey Scarborough's <a href="https://caseyscarborough.com/projects/github-activity/" target="_blank">GitHub Activity Stream</a> widget.        
                    <!--//Usage: https://caseyscarborough.com/projects/github-activity/ -->                       
                    <!--div id="ghfeed" class="ghfeed">
                    </!--div><!--//ghfeed>
                    
                </div>
            </section-->
        </div><!--//primary-->
        <div class="secondary col-lg-4 col-12">
             <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Basic Information</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><a href="https://www.google.it/maps/@45.8514587,9.3925267,15z" target="_blank"><i class="fas fa-map-marker-alt"></i></a><span class="sr-only">Location:</span>Lecco (LC), Italy</li>
                            <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:filip.krasniqi1@gmail.com" target="_blank">filip.krasniqi1@gmail.com</a></li>
                            <li><i class="fas fa-link"></i><span class="sr-only">Github:</span><a href="https://github.com/filipkrasniqi" target="_blank">https://github.com/filipkrasniqi</a></li>
                        </ul>
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </aside><!--//aside-->
            
            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Skills</h2>
                    <div class="content">
                        <p class="intro">
                        <div class="skillset">

                            <div class="item">
                                <h3 class="level-title">Python<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Pandas, Pytorch, Keras, scikit-learn"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 100%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">Data Analysis<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Pandas, Pytorch, Keras, scikit-learn"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 100%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">Tensorflow<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Pandas, Pytorch, Keras, scikit-learn"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 100%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">PyTorch<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Pandas, Pytorch, Keras, scikit-learn"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 90%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">Java and Android<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I used Java any time I needed to structure a consistent project"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 90%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">C/C++<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I rarely used C during my job experience, but I have a good background thanks to school"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 90%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">NodeJS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I implemented for many years backends"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 100%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">C#<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I implemented for many years web backends"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 80%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">PHP<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I implemented for many years web backends"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 75%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">MySQL <span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Personally, I mostly used MySQL when it comes to DBMS"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 90%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">MongoDB <span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I spent two years working with MongoDB in Complic"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 80%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">Angular, Typescript<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I implemented for many years web applications"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 100%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                            
                            <div class="item">
                                <h3 class="level-title">Javascript &amp; jQuery<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I implemented for many years web applications"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 85%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                            
                            <div class="item">
                                <h3 class="level-title">HTML5, CSS3, SASS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I implemented for many years web applications"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 90%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                        </div>              
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </aside><!--//section-->
            
            <aside class="education aside section">
                <div class="section-inner">
                    <h2 class="heading">Education</h2>
                    <div class="content">
                        <div class="item">                      
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> MSc Computer Science: 110/110</h3>
                            <h4 class="university">Politecnico di Milano <span class="year">(2017-2020)</span></h4>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> BSc Computer Science: 103/110</h3>
                            <h4 class="university">Politecnico di Milano <span class="year">(2014-2017)</span></h4>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->
            
            <aside class="education aside section">
                <div class="section-inner">
                    <h2 class="heading">Abroad experiences</h2>
                    <div class="content">
                        <div class="item">                      
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> Paris, France</h3>
                            <h4 class="university">Internship at Huawei Technologies <span class="year">(04/2019-10/2019)</span></h4>
                        </div><!--//item-->
                        <div class="item">                      
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> Trondheim, Norway</h3>
                            <h4 class="university">Erasmus at NTNU <span class="year">(08/2018-12/2018)</span></h4>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->
                        
            <aside class="languages aside section">
                <div class="section-inner">
                    <h2 class="heading">Languages</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li class="item">
                                <span class="title"><strong>Italian:</strong></span>&nbsp;
                                <span class="level">Native Speaker <br class="visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </span>
                            </li><!--//item-->
                            <li class="item">
                                <span class="title"><strong>English:</strong></span>&nbsp;
                                <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></span>
                            </li><!--//item-->
                            <li class="item">
                                <span class="title"><strong>Albanian:</strong></span>&nbsp;
                                <span class="level">Conversational <br class="visible-sm visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half"></i></span>
                            </li><!--//item-->
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->
            
            <!--aside class="list conferences aside section">
                <div class="section-inner">
                    <h2 class="heading">Conferences</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="far fa-calendar-alt"></i> <a href="#" onclick="return false;" target="_blank">WWDC 2020</a> (San Francisco)</li>
                            <li><i class="far fa-calendar-alt"></i> <a href="#" onclick="return false;">Hive</a> (Seattle)</li>
                        </ul>
                    </div>
                </div>
            </aside--><!--//section-->
          
        </div><!--//secondary-->    
    </div><!--//row-->
  </div><!--//masonry-->