<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-lg-8 col-12">
            <section class="about section">
                <div class="section-inner">
                    <h2 class="heading">About Me</h2>
                    <div class="content">
                        <p>My name is Filip Krasniqi, I am 25 year old, and I live in Italy. I am currently writing my MSc thesis at Politecnico di Milano. 
                            I am interested in every field of Computer Science since my childhood. 
                            For this reason I chose to attend a technical secondary school (A. Badoni, Lecco), where I got my first IT specialization. 
                            During these years I understood the potential CS has in any field and I enrolled at Politecnico di Milano for CS engineering.
                            Apart from my job, I have many hobbies. I like traveling (especially in the nature) and I love every country in Europe, that's why in my spare time I mostly go hiking.
                            I really like swimming but I often do some jogging. 
                            In bad weather condition I prefer staying at home reading, watching movies and listening to any kind of music.
                        </p>
                     
                    </div><!--//content-->
                </div><!--//section-inner-->                 
            </section><!--//section-->
            
            <section class="projects section">
                <div class="section-inner">
                    <h2 class="heading">Main projects and contributions</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title"><a href="#" onclick="return false;" target="_blank">ML application: learning QoS metric functions</a> </h3>
                            <p class="summary">Paper published at IEEE INFOCOM WKSHPS - NI: The 3rd International Workshop on Network Intelligence. Toronto, July 2020. More information <a href="https://filipkrasniqi.github.io/QoSMLpresentation/home">here</a></p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><a target="_blank" href="www.booksgram.com">Booksgram</a></h3>
                            <p class="summary">Software developed together with two colleagues as a free-lancer. We developed a platform that allowed to integrate from outer database unpublished books (according to the publisher needs) and managed a competition. Users were able to signup (also from the website) and vote the unpublished they preferred from the mobile application (iOS and Android). We are currently improving this software.
                                <br><span class="bold">Main contributions:</span> backend implementation (NodeJS), website (HTML5, CSS, Angular), mobile application (Flutter).</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><a target="_blank" href="www.rockstreetradio.com">RockStreetRadio</a></h3>
                            <p class="summary">Software developed together with a colleague of mine as a free-lancer. We developed a website and an Android application providing a web radio service. Tracks are played according to pre-defined constraints on artists, genre etc. An administrator has the chance to add/remove the tracks, and to connect on the web radio to talk live.
                                <br><span class="bold">Main contributions:</span> backend implementation (NodeJS), website (HTML5, CSS, Angular).</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><a href="#" onclick="return false;" target="_blank">7stardrivers</a></h3>
                            <p class="summary">Contributor when working for Complic. We developed a website that allows to look for cars in the surroundings of Milan (NCC service), and eventually hire an acknowledged driver. 
                                <br><span class="bold">Main contributions:</span> backend implementation (PHP), website (HTML5, CSS, JavaScript/JQuery).</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><a href="#" onclick="return false;" target="_blank">AppCittà</a></h3>
                            <p class="summary">Contributor when working for Complic. We developed an application to provide information about cities (main spots, what to visit...). 
                                <br><span class="bold">Main contributions:</span> backend implementation (NodeJS), Android application (Java).</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><a href="#" onclick="return false;" target="_blank">BankSec</a></h3>
                            <p class="summary">Contributor as a free-lancer when working with Micromac. We developed an application that allows a person to access a bank for withdrawal (fingerprint reading, camera and speaker with pre-recorded audio). 
                                <br><span class="bold">Main contributions:</span> controller (Java, C), Windows and Linux implementation (Java).</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><a href="#" onclick="return false;" target="_blank">Park&Light</a></h3>
                            <p class="summary">Contributor when working for Emmequadro. This is part of the "Smart City" project. This application was able to control different centrals. A central could be a "Park" or a "Light". A "Park" central was able to capture whether some park slots were occupied and communicated this to the server. A "Light" central was able to control street lamps so that they could turn on/off (with a certain level of granularity on the settings).

                                <br><span class="bold">Main contributions:</span> backend (PHP), frontend (HTML5, CSS, JavaScript/JQuery).</p>
                        </div><!--//item-->
                        
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </section><!--//section-->
            
            <section class="experience section">
                <div class="section-inner">
                    <h2 class="heading">Work Experience</h2>
                    <div class="content">
                        <div class="item">
                            <h3 class="title">Intern - <span class="place"><a href="#" onclick="return false;">Huawei Technologies, Paris, France</a></span> <span class="year">(04/2019 - 10/2019)</span></h3>
                            <p>Internship job during which I worked on my MSc thesis.<br> 
                                <span class="bold"> Used tools:</span> Python, C++.</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title">Software Engineer - <span class="place"><a href="#" onclick="return false;">Codher</a></span> <span class="year">(03/2018 - 08/2018)</span></h3>
                            <p>Part-time job during the last semester of MSc I took in Italy. At the time I started working, the company was a startup on 4.0 industry.<br> 
                                <span class="bold"> Used tools:</span> C#, Angular, HTML, JavaScript, MySQL, SQL server.</p>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title">Software Developer - <span class="place"><a href="#" onclick="return false;">Complic</a></span> <span class="year">(01/2016 - 02/2018)</span></h3>
                            <p>Part-time job during part of my Bachelor and MSc.<br>
                                <span class="bold"> Used tools:</span> Android (Java and Android Studio), PHP, HTML, JavaScript/JQuery, MongoDB.</p>
                        </div><!--//item-->
                        
                        <div class="item">
                            <h3 class="title">Software Developer - <span class="place"><a href="#" onclick="return false;">Emmequadro</a></span> <span class="year">(01/2015 - 12/2015)</span></h3>
                            <p>Part-time job during the first year of my bachelor. Main contribution is surely Park&Light, an easy-to-use software to automatize both lighting of street lamps and to capture when cars were parked.<br>
                                <span class="bold"> Used tools:</span> Android (Java and Android 
                                Studio), Java, PHP, MySQL, HTML, JavaScript/JQuery.</p>
                        </div><!--//item-->
                        
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </section><!--//section-->
            <!--section class="github section">
                <div class="section-inner">
                    <h2 class="heading">My GitHub</h2>
                    <p>You can embed your GitHub contribution graph calendar using IonicaBizau's <a href="https://github.com/IonicaBizau/github-calendar" target="_blank">GitHub Calendar</a> widget. 
                    
                    <div id="github-graph" class="github-graph">
  
                    </div><!--//github-graph-->
  
                    <!--p>You can also embed your GitHub activities using Casey Scarborough's <a href="https://caseyscarborough.com/projects/github-activity/" target="_blank">GitHub Activity Stream</a> widget.        
                    <!--//Usage: https://caseyscarborough.com/projects/github-activity/ -->                       
                    <!--div id="ghfeed" class="ghfeed">
                    </!--div><!--//ghfeed>
                    
                </div>
            </section-->
        </div><!--//primary-->
        <div class="secondary col-lg-4 col-12">
             <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Basic Information</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><a href="https://www.google.it/maps/@45.8514587,9.3925267,15z" target="_blank"><i class="fas fa-map-marker-alt"></i></a><span class="sr-only">Location:</span>Lecco (LC), Italy</li>
                            <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a href="mailto:filip.krasniqi1@gmail.com" target="_blank">filip.krasniqi1@gmail.com</a></li>
                            <li><i class="fas fa-link"></i><span class="sr-only">Github:</span><a href="https://github.com/filipkrasniqi" target="_blank">https://github.com/filipkrasniqi</a></li>
                        </ul>
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </aside><!--//aside-->
            
            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Skills</h2>
                    <div class="content">
                        <p class="intro">
                        <div class="skillset">

                            <div class="item">
                                <h3 class="level-title">Java and Android<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I used Java any time I needed to structure a consistent project"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 90%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">C/C++<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I rarely used C during my job experience, but I have a good background thanks to school"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 85%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                           
                            <div class="item">
                                <h3 class="level-title">Python<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I mostly used Python for Machine Learning"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 90%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">NodeJS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I implemented for many years backends"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 95%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">C#<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I implemented for many years web backends"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 80%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">PHP<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I implemented for many years web backends"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 75%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">MySQL <span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Personally, I mostly used MySQL when it comes to DBMS"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 90%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">MongoDB <span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I spent two years working with MongoDB in Complic"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 80%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title">Angular, Typescript<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I implemented for many years web applications"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 95%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                            
                            <div class="item">
                                <h3 class="level-title">Javascript &amp; jQuery<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I implemented for many years web applications"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 95%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                            
                            <div class="item">
                                <h3 class="level-title">HTML5, CSS3, SASS<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="I implemented for many years web applications"><i class="fas fa-info-circle"></i></span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" style="width: 85%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                        </div>              
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </aside><!--//section-->
            
            <aside class="education aside section">
                <div class="section-inner">
                    <h2 class="heading">Education</h2>
                    <div class="content">
                        <div class="item">                      
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> MSc Computer Science: 110/110</h3>
                            <h4 class="university">Politecnico di Milano <span class="year">(2017-2020)</span></h4>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> BSc Computer Science: 103/110</h3>
                            <h4 class="university">Politecnico di Milano <span class="year">(2014-2017)</span></h4>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->
            
            <aside class="education aside section">
                <div class="section-inner">
                    <h2 class="heading">Abroad experiences</h2>
                    <div class="content">
                        <div class="item">                      
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> Paris, France</h3>
                            <h4 class="university">Internship at Huawei Technologies <span class="year">(04/2019-04/2019)</span></h4>
                        </div><!--//item-->
                        <div class="item">                      
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> Trondheim, Norway</h3>
                            <h4 class="university">Erasmus at NTNU <span class="year">(08/2018-12/2018)</span></h4>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->
                        
            <aside class="languages aside section">
                <div class="section-inner">
                    <h2 class="heading">Languages</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li class="item">
                                <span class="title"><strong>Italian:</strong></span>&nbsp;
                                <span class="level">Native Speaker <br class="visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </span>
                            </li><!--//item-->
                            <li class="item">
                                <span class="title"><strong>English:</strong></span>&nbsp;
                                <span class="level">Professional Proficiency <br class="visible-sm visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i></span>
                            </li><!--//item-->
                            <li class="item">
                                <span class="title"><strong>Albanian:</strong></span>&nbsp;
                                <span class="level">Conversational <br class="visible-sm visible-xs"/><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half"></i></span>
                            </li><!--//item-->
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->
            
            <!--aside class="list conferences aside section">
                <div class="section-inner">
                    <h2 class="heading">Conferences</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="far fa-calendar-alt"></i> <a href="#" onclick="return false;" target="_blank">WWDC 2020</a> (San Francisco)</li>
                            <li><i class="far fa-calendar-alt"></i> <a href="#" onclick="return false;">Hive</a> (Seattle)</li>
                        </ul>
                    </div>
                </div>
            </aside--><!--//section-->
          
        </div><!--//secondary-->    
    </div><!--//row-->
  </div><!--//masonry-->